.menu {
    top: 0;
    left: 0;
    bottom: 0;
    background-color: tomato;
    .toggle-btn {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 22px;
      font-weight: 500;
      color: white;
      cursor: pointer;
  }
}

$blue: #056ef0;
$column: 200px;

.menu {
    width: calc(4 * $column);
}

.menu_link {
    background: color-mod($blue alpha(90%));
    width: $column;
}