.MenuOLD {
    position: absolute;
    z-index: 1;
    .MenuList {
        display: flex;
        margin: 0;
        padding: 0 20px;

        li {
            list-style: none;
            padding-right: 20px;
            a {
                color: black;

                &.active {
                    text-decoration: none;
                    pointer-events: none;
                    font-weight: bold;
                }
            }


        }
    }


}

/* [ON BIG SCREEN] */
/* Wrapper */
#hamnav {
    width: 100%;
    background: #000;
    /* Optional */
    position: sticky;
    top: 0;
}

/* Hide Hamburger */
#hamnav label, #hamburger { display: none; }

/* Horizontal Menu Items */
#hamitems { display: flex; }
#hamitems a {
    width: 20%; /* 100% / 5 tabs = 20% */
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}
#hamitems a:hover {
    background: #401408;
}



/* MY STYLES */

.Menu {
    width: 100%;
    background: #000;
    /* Optional */
    position: sticky;
    top: 0;

    .Menu__Container {
        padding: 0 20px;
        @media (min-width: 992px) {
            //padding: 100px 200px;
            margin: 0 auto;
            width: 100%;
        }

        .hamburgerLabel, .hamburgerCheker {
            display: none;
        }

        .hamburgerItems {
            display: flex;
            a {
                width: 20%; /* 100% / 5 tabs = 20% */
                padding: 10px;
                color: white;
                text-decoration: none;
                text-align: center;

                &:hover {
                    background: #401408;
                }
            }
        }
    }

}

@media screen and (max-width: 768px){
    /* Show Hamburger Icon */
    .Menu {
        .Menu__Container {
            .hamburgerLabel {
                display: inline-block;
                color: white;
                background: #a02620;
                font-style: normal;
                font-size: 1.2em;
                padding: 10px;
            }

            .hamburgerItems {
                display: none;
                a {
                    box-sizing: border-box;
                    display: block;
                    width: 100%;
                    border-top: 1px solid #333;
                }
            }

            input:checked ~ .hamburgerItems { display: block; }
        }
    }

    /* Break down menu items into vertical */
    #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
    }

    /* Toggle Show/Hide Menu */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
}



/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
    /* Show Hamburger Icon */
    #hamnav label {
        display: inline-block;
        color: white;
        background: #a02620;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
    }

    /* Break down menu items into vertical */
    #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
    }

    /* Toggle Show/Hide Menu */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
}