/* MY STYLES */

.Menu {
    width: 100%;
    background: #ccc;
    /* Optional */
    position: sticky;
    top: 0;

    .Menu__Container {
        padding: 0 20px;
        @media (min-width: 992px) {
            //padding: 100px 200px;
            margin: 0 auto;
            width: 100%;
        }

        .hamburgerLabel, .hamburgerCheker {
            display: none;
        }

        .hamburgerItems {
            display: flex;

            margin: 0;
            li {
                width: 20%; /* 100% / 5 tabs = 20% */
                padding: 10px;
                color: white;
                text-decoration: none;
                text-align: center;
                list-style-type: none;

                &:hover {
                    background: #401408;
                }
                a {
                    color: black;

                    &.active {
                        text-decoration: none;
                        pointer-events: none;
                        font-weight: bold;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 768px){
    /* Show Hamburger Icon */
    .Menu {
        .Menu__Container {
            .hamburgerLabel {
                display: inline-block;
                color: white;
                background: #a02620;
                font-style: normal;
                font-size: 1.2em;
                padding: 10px;
            }

            .hamburgerItems {
                display: none;
                li {
                    box-sizing: border-box;
                    display: block;
                    width: 100%;
                    border-top: 1px solid #333;
                }
            }

            input:checked ~ .hamburgerItems { display: block; }
        }
    }

}
