.main
	background: #eee;
	width: 100%;
	max-width: 800px;
	padding: 0px 0px 0 100px;

	*
		margin: 0;

	> * > *
		padding-left: 22px;
		padding-right: 22px;

	h4
		padding-top: 10px;
		padding-left: 22px;




@media (max-width: 480px)
  .main
	  width: auto
	  padding: 0



