@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&subset=cyrillic");

body {
	background-color: #dedede;
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

.app-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
	position: relative;
}
.app-container > * {
}

.test_style {
	color: red;
}

@media (max-width: 480px) {
	.app-container {
		flex-direction: column;
	}
}
