@mixin inputRangeBg($st1, $st2, $st3, $st4, $st5) {
  background:
          linear-gradient(90deg, $st1 0%, $st1 18%, #fff 18%, #fff 20.5%, transparent 20.5%, transparent 100%),
          linear-gradient(90deg, $st2 20.5%, $st2 38.5%, #fff 38.5%, #fff 41%, transparent 41%, transparent 100%),
          linear-gradient(90deg, $st3 41%, $st3 59%, #fff 59%, #fff 61.5%, transparent 61.5%, transparent 100%),
          linear-gradient(90deg, $st4 61.5%, $st4 79.5%, #fff 79.5%, #fff 82%, transparent 82%, transparent 100%),
          linear-gradient(90deg, $st5 82%, $st5 100%);
}
$inputRange-c1: #77AFA7;
$inputRange-c2: #94BD8B;
$inputRange-c3: #BCD063;
$inputRange-c4: #E0DF34;
$inputRange-c5: #F7E91B;


@mixin container($width) {
  max-width: $width;
  margin: 0 auto;
  width: 100%;
}

.QuestWrp {

}
.Quest {
  height: 100%;
  display: flex;
  flex-direction: column;
    //background-color: green;



  .QuestText {
    background-color: #EEEEEE;
    padding: 15px;

    @media (min-width: 360px) {
      padding: 20px;
    }

    .QuestText__Container {
      @include container(768px);

      .QuestNumber {
        color: #474747;
        font-weight: bold;
        font-size: 14px;
        margin: 0 0 5px;
      }
      .QuestTitle {
        color: #474747;
        font-size: 27px;
        font-weight: bold;
        line-height: 35px;
        text-transform: uppercase;
        @media (min-width: 360px) {
          font-size: 29px;
        }
      }
      .QuestDescription {
        opacity: 0.7;
        color: #000000;
        font-size: 16px;
        line-height: 22px;
        margin: 0;
      }
    }
  }

  .QuestAnswerWrp {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

    @include container(768px);

    .QuestAnswers {
      padding: 20px 15px;
      height: 130px;
      text-align: center;

      @media (min-width: 360px) {
        padding: 20px;
      }


      .QuestAnswerLevel {
        color: #59C188;
        font-size: 23px;
        font-weight: bold;
        line-height: 28px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      .QuestAnswerDescr {
        font-size: 15px;
        line-height: 21px;
      }
    }

    .QuestRangeSliderWrp {
      padding: 40px 15px 20px;
      //height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      @media (min-width: 360px) {
        padding: 40px 20px 20px;
      }

      &.QuestRangeSliderWrp--100 {
        :global {
          .ant-slider-rail {
            @include inputRangeBg($inputRange-c1, #eee, #eee, #eee, #eee);
          }
          .ant-slider-handle {
            background-color: $inputRange-c1;
          }
        }
      }
      &.QuestRangeSliderWrp--200 {
        :global {
          .ant-slider-rail {
            @include inputRangeBg($inputRange-c1, $inputRange-c2, #eee, #eee, #eee);
          }
          .ant-slider-handle {
            background-color: $inputRange-c2;
          }
        }
      }
      &.QuestRangeSliderWrp--300 {
        :global {
          .ant-slider-rail {
            @include inputRangeBg($inputRange-c1, $inputRange-c2, $inputRange-c3, #eee, #eee);
          }
          .ant-slider-handle {
            background-color: $inputRange-c3;
          }
        }
      }
      &.QuestRangeSliderWrp--400 {
        :global {
          .ant-slider-rail {
            @include inputRangeBg($inputRange-c1, $inputRange-c2, $inputRange-c3, $inputRange-c4, #eee);
          }
          .ant-slider-handle {
            background-color: $inputRange-c4;
          }
        }
      }
      &.QuestRangeSliderWrp--500 {
        :global {
          .ant-slider-rail {
            @include inputRangeBg($inputRange-c1, $inputRange-c2, $inputRange-c3, $inputRange-c4, $inputRange-c5);
          }
          .ant-slider-handle {
            background-color: $inputRange-c5;
          }
        }


      }
    }
  }


}


:global {
  .ant-slider-handle {
    height: 50px;
    width: 52px;
    margin-top: -15px;
    background-color: #59C188;
    position: relative;
    border: none;

    &:focus {
      box-shadow: none;
      border: none;
    }

    &:after {
      content: "?";
      background-image: url("../../assets/svg/check.svg");
      background-size: 0px;
      background-repeat: no-repeat;
      background-position: 1px 2px;
      position: absolute;
      font-size: 33px;
      color: white;
      font-weight: bold;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }


  }

  .ant-slider-rail {
    height: 15px;
    margin: 0 -25px;
    width: calc(100% + 50px);
    background: linear-gradient(
                    90deg,
                    #eee 0,
                    #eee 18%,
                    #fff 0,
                    #fff 20.5%,
                    #eee 0,
                    #eee 38.5%,
                    #fff 0,
                    #fff 41%,
                    #eee 0,
                    #eee 59%,
                    #fff 0,
                    #fff 61.5%,
                    #eee 0,
                    #eee 79.5%,
                    #fff 0,
                    #fff 82%,
                    #eee 0,
                    #eee
    );
  }

  .ant-slider-track {
    display: none;
    height: 15px;
    background-color: #7DD29D;
    //margin: 0px -25px;
    box-sizing: unset;
    padding: 0px 25px;
    transform: translate(-25px, 0px);
    //background: linear-gradient(
    //                90deg,
    //                #7DD29D 0,
    //                #7DD29D 18%,
    //                #fff 0,
    //                #fff 20.5%,
    //                #7DD29D 0,
    //                #7DD29D 38.5%,
    //                #fff 0,
    //                #fff 41%,
    //                #7DD29D 0,
    //                #7DD29D 59%,
    //                #fff 0,
    //                #fff 61.5%,
    //                #7DD29D 0,
    //                #7DD29D 79.5%,
    //                #fff 0,
    //                #fff 82%,
    //                #7DD29D 0,
    //                #7DD29D
    //);
  }

  .ant-slider {
    margin: 0 25px;

    &:hover {
      .ant-slider-track {
        background-color: #7DD29D;
      }
    }
  }
}
