@mixin inputRangeBg($st1, $st2, $st3, $st4, $st5) {
  background:
          linear-gradient(90deg, $st1 0%, $st1 18%, #fff 18%, #fff 20.5%, transparent 20.5%, transparent 100%),
          linear-gradient(90deg, $st2 20.5%, $st2 38.5%, #fff 38.5%, #fff 41%, transparent 41%, transparent 100%),
          linear-gradient(90deg, $st3 41%, $st3 59%, #fff 59%, #fff 61.5%, transparent 61.5%, transparent 100%),
          linear-gradient(90deg, $st4 61.5%, $st4 79.5%, #fff 79.5%, #fff 82%, transparent 82%, transparent 100%),
          linear-gradient(90deg, $st5 82%, $st5 100%);
}
$inputRange-c1: #77AFA7;
$inputRange-c2: #94BD8B;
$inputRange-c3: #BCD063;
$inputRange-c4: #E0DF34;
$inputRange-c5: #F7E91B;


@mixin container($width) {
  max-width: $width;
  margin: 0 auto;
  width: 100%;
}

.QuestWrp {

}
.Quest {
  height: 100%;
  display: flex;
  flex-direction: column;
    //background-color: green;



  .QuestText {
    background-color: #EEEEEE;
    padding: 15px;

    @media (min-width: 360px) {
      padding: 20px;
    }

    .QuestText__Container {
      @include container(768px);

      .QuestNumber {
        color: #474747;
        font-weight: bold;
        font-size: 14px;
        margin: 0 0 5px;
      }
      .QuestTitle {
        color: #474747;
        font-size: 27px;
        font-weight: bold;
        line-height: 35px;
        text-transform: uppercase;
        @media (min-width: 360px) {
          font-size: 29px;
        }
      }
      .QuestDescription {
        opacity: 0.7;
        color: #000000;
        font-size: 16px;
        line-height: 22px;
        margin: 0;
      }
    }
  }

  .QuestAnswerWrp {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

    @include container(768px);

    .QuestAnswers {
      padding: 20px 15px;
      height: 130px;
      text-align: center;

      @media (min-width: 360px) {
        padding: 20px;
      }


      .QuestAnswerLevel {
        color: #59C188;
        font-size: 23px;
        font-weight: bold;
        line-height: 28px;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      .QuestAnswerDescr {
        font-size: 15px;
        line-height: 21px;
      }
    }

    .QuestRangeSliderWrp {
      padding: 40px 15px 20px;
      //height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      //width: 100%;

      @media (min-width: 360px) {
        padding: 40px 20px 20px;
      }
      @media (min-width: 768px) {
        //width: 540px;
        //margin: 0 auto;
      }

      &.QuestRangeSliderWrp--100 {
        :global {
          .ant-slider-rail {
            @include inputRangeBg($inputRange-c1, #eee, #eee, #eee, #eee);
          }
          .ant-slider-handle {
            background-color: $inputRange-c1;
          }
        }
      }
      &.QuestRangeSliderWrp--200 {
        :global {
          .ant-slider-rail {
            @include inputRangeBg($inputRange-c1, $inputRange-c2, #eee, #eee, #eee);
          }
          .ant-slider-handle {
            background-color: $inputRange-c2;
          }
        }
      }
      &.QuestRangeSliderWrp--300 {
        :global {
          .ant-slider-rail {
            @include inputRangeBg($inputRange-c1, $inputRange-c2, $inputRange-c3, #eee, #eee);
          }
          .ant-slider-handle {
            background-color: $inputRange-c3;
          }
        }
      }
      &.QuestRangeSliderWrp--400 {
        :global {
          .ant-slider-rail {
            @include inputRangeBg($inputRange-c1, $inputRange-c2, $inputRange-c3, $inputRange-c4, #eee);
          }
          .ant-slider-handle {
            background-color: $inputRange-c4;
          }
        }
      }
      &.QuestRangeSliderWrp--500 {
        :global {
          .ant-slider-rail {
            @include inputRangeBg($inputRange-c1, $inputRange-c2, $inputRange-c3, $inputRange-c4, $inputRange-c5);
          }
          .ant-slider-handle {
            background-color: $inputRange-c5;
          }
        }


      }
    }
  }


}

// antd original files
:global {
  ///

  html,
  body {
    width: 100%;
    height: 100%;
  }
  input::-ms-clear,
  input::-ms-reveal {
    display: none;
  }
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    //font-family: sans-serif;
    //line-height: 1.15;
    //-webkit-text-size-adjust: 100%;
    //-ms-text-size-adjust: 100%;
    //-ms-overflow-style: scrollbar;
    //-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  article,
  aside,
  dialog,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  nav,
  section {
    display: block;
  }
  body {
    margin: 0;
    font-variant: tabular-nums;
  }
  [tabindex='-1']:focus {
    outline: none !important;
  }
  hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
  }
  p {
    margin-top: 0;
    margin-bottom: 1em;
  }
  abbr[title],
  abbr[data-original-title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    border-bottom: 0;
    cursor: help;
  }
  address {
    margin-bottom: 1em;
    font-style: normal;
    line-height: inherit;
  }
  input[type='text'],
  input[type='password'],
  input[type='number'],
  textarea {
    -webkit-appearance: none;
  }
  ol,
  ul,
  dl {
    margin-top: 0;
    margin-bottom: 1em;
  }
  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin-bottom: 0;
  }
  dt {
    font-weight: 500;
  }
  dd {
    margin-bottom: 0.5em;
    margin-left: 0;
  }
  blockquote {
    margin: 0 0 1em;
  }
  dfn {
    font-style: italic;
  }
  b,
  strong {
    font-weight: bolder;
  }
  small {
    font-size: 80%;
  }
  sub,
  sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  a {
    color: #1890ff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-text-decoration-skip: objects;
  }
  a:hover {
    color: #40a9ff;
  }
  a:active {
    color: #096dd9;
  }
  a:active,
  a:hover {
    text-decoration: none;
    outline: 0;
  }
  a[disabled] {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
    pointer-events: none;
  }
  pre,
  code,
  kbd,
  samp {
    font-size: 1em;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  }
  pre {
    margin-top: 0;
    margin-bottom: 1em;
    overflow: auto;
  }
  figure {
    margin: 0 0 1em;
  }
  img {
    vertical-align: middle;
    border-style: none;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  a,
  area,
  button,
  [role='button'],
  input:not([type='range']),
  label,
  select,
  summary,
  textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  ////
  .ant-slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    height: 12px;
    margin: 14px 6px 10px;
    padding: 4px 0;
    cursor: pointer;
    -ms-touch-action: none;
    touch-action: none;
  }

  .ant-slider-rail {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #f5f5f5;
    border-radius: 2px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }

  .ant-slider-track {
    position: absolute;
    height: 4px;
    background-color: #91d5ff;
    border-radius: 4px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }

  .ant-slider-step {
    position: absolute;
    width: 100%;
    height: 4px;
    background: transparent;
  }

  .ant-slider-handle {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-top: -5px;
    background-color: #fff;
    border: solid 2px #91d5ff;
    border-radius: 50%;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    cursor: pointer;
    -webkit-transition: border-color 0.3s, -webkit-box-shadow 0.6s, -webkit-transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: border-color 0.3s, -webkit-box-shadow 0.6s, -webkit-transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28), -webkit-box-shadow 0.6s, -webkit-transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }

  .ant-slider-handle:focus {
    border-color: #46a6ff;
    outline: none;
    -webkit-box-shadow: 0 0 0 5px rgba(24, 144, 255, 0.2);
    box-shadow: 0 0 0 5px rgba(24, 144, 255, 0.2);
  }

  .ant-slider-handle:focus {
    border-color: #46a6ff;
    outline: none;
    -webkit-box-shadow: 0 0 0 5px rgba(24, 144, 255, 0.2);
    box-shadow: 0 0 0 5px rgba(24, 144, 255, 0.2);
  }

  .ant-slider-mark {
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    font-size: 14px;
  }

}


// antd custom styles
:global {
  .ant-slider-handle {
    height: 50px;
    width: 52px;
    margin-top: -18px;
    background-color: #59C188;
    position: relative;
    border: none;

    &:focus {
      box-shadow: none;
      border: none;
    }

    &:after {
      content: "?";
      background-image: url("../../assets/svg/check.svg");
      background-size: 0px;
      background-repeat: no-repeat;
      background-position: 1px 2px;
      position: absolute;
      font-size: 33px;
      color: white;
      font-weight: bold;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    @media (min-width: 360px) {
      height: 62px;
      width: 62px;
      margin-top: -23px;
    }

    @media (min-width: 400px) {
      height: 70px;
      width: 70px;
      margin-top: -27px;
    }

    @media (min-width: 480px) {
      height: 80px;
      width: 80px;
      margin-top: -30px;
    }

    @media (min-width: 768px) {
      height: 92px;
      width: 92px;
      margin-top: -35px;
    }
  }

  .ant-slider-rail {
    height: 15px;
    margin: 0 -25px;
    width: calc(100% + 50px);
    background: linear-gradient(
                    90deg,
                    #eee 0,
                    #eee 18%,
                    #fff 0,
                    #fff 20.5%,
                    #eee 0,
                    #eee 38.5%,
                    #fff 0,
                    #fff 41%,
                    #eee 0,
                    #eee 59%,
                    #fff 0,
                    #fff 61.5%,
                    #eee 0,
                    #eee 79.5%,
                    #fff 0,
                    #fff 82%,
                    #eee 0,
                    #eee
    );
    //@media (min-width: 360px) {
    //  max-width: 400px;
    //  width: calc(100% + 62px);
    //}
    //@media (min-width: 480px) {
    //  max-width: none;
    //  width: calc(100% + 80px);
    //}
    //@media (min-width: 768px) {
    //  height: 20px;
    //  margin: 0 -45px;
    //  width: calc(100% + 90px);
    //}

    @media (min-width: 360px) {
      width: calc(100% + 62px);
      margin: 0 -31px;
    }
    @media (min-width: 400px) {
      width: calc(100% + 70px);
      margin: 0 -35px;
    }

    @media (min-width: 480px) {
      width: calc(100% + 80px);
      margin: 0 -40px;
    }

    @media (min-width: 768px) {
      height: 20px;
      width: calc(100% + 92px);
      margin: 0 -46px;
    }
  }

  .ant-slider-track {
    display: none;
    height: 15px;
    background-color: #7DD29D;
    //margin: 0px -25px;
    box-sizing: unset;
    padding: 0px 25px;
    transform: translate(-25px, 0px);
    //background: linear-gradient(
    //                90deg,
    //                #7DD29D 0,
    //                #7DD29D 18%,
    //                #fff 0,
    //                #fff 20.5%,
    //                #7DD29D 0,
    //                #7DD29D 38.5%,
    //                #fff 0,
    //                #fff 41%,
    //                #7DD29D 0,
    //                #7DD29D 59%,
    //                #fff 0,
    //                #fff 61.5%,
    //                #7DD29D 0,
    //                #7DD29D 79.5%,
    //                #fff 0,
    //                #fff 82%,
    //                #7DD29D 0,
    //                #7DD29D
    //);
  }

  .ant-slider {
    margin: 0 25px;
    min-width: 200px;
    width: calc(100% - 50px);
    &:hover {
      .ant-slider-track {
        background-color: #7DD29D;
      }
    }

    //@media (min-width: 360px) {
    //  margin: 0 32px;
    //}
    //@media (min-width: 480px) {
    //  margin: 0 41px;
    //}
    //@media (min-width: 768px) {
    //  margin: 0 50px;
    //}
    @media (min-width: 360px) {
      max-width: 400px;
      width: calc(100% - 62px);
      margin: 0 62px;
    }

    @media (min-width: 400px) {
       width: calc(100% - 70px);
       margin: 0 70px;
    }

    @media (min-width: 480px) {
       width: calc(100% - 80px);
       margin: 0 80px;
    }

    @media (min-width: 768px) {
      max-width: calc(56%);
       width: calc(100% - 92px);
       margin: 0 92px;
    }
  }
}



