@mixin inputRangeBg($st1, $st2, $st3, $st4, $st5) {
  background:
          linear-gradient(90deg, $st1 0%, $st1 18%, #fff 18%, #fff 20.5%, transparent 20.5%, transparent 100%),
          linear-gradient(90deg, $st2 20.5%, $st2 38.5%, #fff 38.5%, #fff 41%, transparent 41%, transparent 100%),
          linear-gradient(90deg, $st3 41%, $st3 59%, #fff 59%, #fff 61.5%, transparent 61.5%, transparent 100%),
          linear-gradient(90deg, $st4 61.5%, $st4 79.5%, #fff 79.5%, #fff 82%, transparent 82%, transparent 100%),
          linear-gradient(90deg, $st5 82%, $st5 100%);
}
$inputRange-c1: #77AFA7;
$inputRange-c2: #94BD8B;
$inputRange-c3: #BCD063;
$inputRange-c4: #E0DF34;
$inputRange-c5: #F7E91B;


@mixin container($width) {
  max-width: $width;
  margin: 0 auto;
  width: 100%;
}


@mixin cursorPointer() {
  @media(pointer: fine) {
    &:hover {
      cursor: pointer;
    }
  }
}

.QuestWrp {

}
.Quest {
  height: 100%;
  display: flex;
  flex-direction: column;
    //background-color: green;



  .QuestText {
    background-color: #EEEEEE;
    padding: 15px;

    @media (min-width: 360px) {
      padding: 20px;
    }
    @media (min-width: 400px) {
      padding: 20px 20px 30px;
    }

    .QuestText__Container {
      @include container(768px);

      .QuestNumber {
        color: #474747;
        font-weight: bold;
        font-size: 14px;
        margin: 0 0 5px;
        @media (min-width: 360px) {
          font-size: 16px;
          margin: 0 0 6px;
        }
        @media (min-width: 480px) {
          font-size: 18px;
          margin: 0 0 8px;
        }
        @media (min-width: 768px) {
          font-size: 20px;
          margin: 0 0 10px;
        }
      }
      .QuestTitle {
        color: #474747;
        font-size: 27px;
        font-weight: bold;
        line-height: 35px;
        text-transform: uppercase;
        @media (min-width: 360px) {
          font-size: 29px;
        }
        @media (min-width: 400px) {
          font-size: 30px;
        }
        @media (min-width: 480px) {
          font-size: 32px;
        }
        @media (min-width: 768px) {
          font-size: 36px;
        }
      }
      .QuestDescription {
        opacity: 0.7;
        color: #000000;
        font-size: 16px;
        line-height: 22px;
        margin: 0;

        @media (min-width: 400px) {
          font-size: 18px;
        }
        @media (min-width: 480px) {
          font-size: 20px;
          line-height: 1.2em;
        }
        @media (min-width: 768px) {
          font-size: 22px;
        }
      }
    }
  }

  .QuestAnswerWrp {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;

    @include container(768px);

    @media (min-width: 480px) {
      margin-bottom: 40px;
    }
    @media (min-width: 768px) {
      margin-bottom: 80px;
    }

    .QuestAnswers {
      padding: 20px 15px;
      height: 130px;
      text-align: center;

      @media (min-width: 360px) {
        padding: 20px;
        height: 150px;
      }
      @media (min-width: 400px) {
        height: 160px;
      }
      @media (min-width: 480px) {
        max-width: 500px;
        height: 180px;
        margin: 0 auto;
      }
      @media (min-width: 768px) {
        max-width: 550px;
        height: 200px;
      }


      .QuestAnswerLevel {
        color: #59C188;
        font-size: 23px;
        font-weight: bold;
        line-height: 28px;
        margin-bottom: 10px;
        text-transform: uppercase;
        @media (min-width: 360px) {
          font-size: 26px;
          margin-bottom: 12px;
        }
        @media (min-width: 400px) {
          font-size: 28px;
          margin-bottom: 14px;
        }
        @media (min-width: 480px) {
          font-size: 32px;
          margin-bottom: 18px;
        }
        @media (min-width: 768px) {
          font-size: 36px;
          margin-bottom: 22px;
        }
      }
      .QuestAnswerDescr {
        font-size: 15px;
        line-height: 21px;
        @media (min-width: 360px) {
          font-size: 16px;
          line-height: 1.4em;
        }
        @media (min-width: 400px) {
          font-size: 18px;
        }
        @media (min-width: 480px) {
          font-size: 20px;
        }
        @media (min-width: 768px) {
          font-size: 22px;
        }
      }
    }

    .QuestRangeSliderWrp {
      padding: 40px 15px 20px;
      //height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      //width: 100%;

      @media (min-width: 360px) {
        padding: 40px 20px 20px;
      }
      @media (min-width: 768px) {
        //width: 540px;
        //margin: 0 auto;
      }

      &.QuestRangeSliderWrp--100 {
        :global {
          .rc-slider-rail {
            @include inputRangeBg($inputRange-c1, #eee, #eee, #eee, #eee);
          }
          .rc-slider-handle {
            background-color: $inputRange-c1;
          }
        }
      }
      &.QuestRangeSliderWrp--200 {
        :global {
          .rc-slider-rail {
            @include inputRangeBg($inputRange-c1, $inputRange-c2, #eee, #eee, #eee);
          }
          .rc-slider-handle {
            background-color: $inputRange-c2;
          }
        }
      }
      &.QuestRangeSliderWrp--300 {
        :global {
          .rc-slider-rail {
            @include inputRangeBg($inputRange-c1, $inputRange-c2, $inputRange-c3, #eee, #eee);
          }
          .rc-slider-handle {
            background-color: $inputRange-c3;
          }
        }
      }
      &.QuestRangeSliderWrp--400 {
        :global {
          .rc-slider-rail {
            @include inputRangeBg($inputRange-c1, $inputRange-c2, $inputRange-c3, $inputRange-c4, #eee);
          }
          .rc-slider-handle {
            background-color: $inputRange-c4;
          }
        }
      }
      &.QuestRangeSliderWrp--500 {
        :global {
          .rc-slider-rail {
            @include inputRangeBg($inputRange-c1, $inputRange-c2, $inputRange-c3, $inputRange-c4, $inputRange-c5);
          }
          .rc-slider-handle {
            background-color: $inputRange-c5;
          }
        }


      }
    }
  }


}

// antd original files
:global {

  .rc-slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    height: 12px;
    margin: 14px 6px 10px;
    padding: 4px 0;
    @include cursorPointer();
    -ms-touch-action: none;
    touch-action: none;
  }

  .rc-slider-rail {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #f5f5f5;
    border-radius: 2px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }

  .rc-slider-track {
    position: absolute;
    height: 4px;
    background-color: #91d5ff;
    border-radius: 4px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }

  .rc-slider-step {
    position: absolute;
    width: 100%;
    height: 4px;
    background: transparent;
  }

  .rc-slider-handle {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-top: -5px;
    background-color: #fff;
    border: solid 2px #91d5ff;
    border-radius: 50%;
    -webkit-box-shadow: 0;
    box-shadow: 0;
    @include cursorPointer();
    -webkit-transition: border-color 0.3s, -webkit-box-shadow 0.6s, -webkit-transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: border-color 0.3s, -webkit-box-shadow 0.6s, -webkit-transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: border-color 0.3s, box-shadow 0.6s, transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28), -webkit-box-shadow 0.6s, -webkit-transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }

  .rc-slider-handle:focus {
    border-color: #46a6ff;
    outline: none;
    -webkit-box-shadow: 0 0 0 5px rgba(24, 144, 255, 0.2);
    box-shadow: 0 0 0 5px rgba(24, 144, 255, 0.2);
  }

  .rc-slider-handle:focus {
    border-color: #46a6ff;
    outline: none;
    -webkit-box-shadow: 0 0 0 5px rgba(24, 144, 255, 0.2);
    box-shadow: 0 0 0 5px rgba(24, 144, 255, 0.2);
  }

  .rc-slider-mark {
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    font-size: 14px;
  }

}


// antd custom styles
:global {
  .rc-slider {
    div{
      -webkit-tap-highlight-color: transparent;
    }
  }
  .rc-slider-handle {
    height: 58px;
    width: 58px;
    margin-top: -22px;

    //height: 62px;
    //width: 62px;
    //margin-top: -23px;
    background-color: #59C188;
    position: relative;
    border: none;

    &:focus {
      box-shadow: none;
      border: none;
    }


    &:after {
      content: "?";
      background-image: url("../../assets/svg/check.svg");
      background-size: 0px;
      background-repeat: no-repeat;
      background-position: 1px 2px;
      position: absolute;
      font-size: 33px;
      color: white;
      font-weight: bold;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    // ROUND SIZE
    @media (min-width: 360px) {
      height: 70px;
      width: 70px;
      margin-top: -27px;
    }

    @media (min-width: 400px) {
      height: 80px;
      width: 80px;
      margin-top: -32px;
    }

    @media (min-width: 480px) {;
      height: 92px;
      width: 92px;
      margin-top: -35px;
    }

    @media (min-width: 768px) {
      height: 92px;
      width: 92px;
      margin-top: -35px;
    }
  }

  .rc-slider-rail {
    height: 15px;
    margin: 0 -25px;
    width: calc(100% + 50px);
    background: linear-gradient(
                    90deg,
                    #eee 0,
                    #eee 18%,
                    #fff 0,
                    #fff 20.5%,
                    #eee 0,
                    #eee 38.5%,
                    #fff 0,
                    #fff 41%,
                    #eee 0,
                    #eee 59%,
                    #fff 0,
                    #fff 61.5%,
                    #eee 0,
                    #eee 79.5%,
                    #fff 0,
                    #fff 82%,
                    #eee 0,
                    #eee
    );

    // RAIL TRACK RANGE SIZE
    @media (min-width: 360px) {
      width: calc(100% + 62px);
      margin: 0 -31px;
    }
    @media (min-width: 400px) {
      width: calc(100% + 70px);
      margin: 0 -35px;
    }

    @media (min-width: 480px) {
      height: 18px;
      width: calc(100% + 80px);
      margin: 0 -40px;
    }

    @media (min-width: 768px) {
      height: 20px;
      width: calc(100% + 92px);
      margin: 0 -46px;
    }
  }

  .rc-slider-track {
    display: none;
    height: 15px;
    background-color: #7DD29D;
    box-sizing: unset;
    padding: 0px 25px;
    transform: translate(-25px, 0px);
  }

  .rc-slider {
    margin: 0 25px;
    min-width: 200px;
    width: calc(100% - 50px);
    &:hover {
      .rc-slider-track {
        background-color: #7DD29D;
      }
    }
    @media (min-width: 360px) {
      max-width: 400px;
      width: calc(100% - 62px);
      margin: 0 62px;
    }

    @media (min-width: 400px) {
       width: calc(100% - 70px);
       margin: 0 70px;
    }

    @media (min-width: 480px) {
       width: calc(100% - 80px);
       margin: 0 80px;
    }

    @media (min-width: 768px) {
      max-width: calc(56%);
       width: calc(100% - 92px);
       margin: 0 92px;
    }
  }
}



