$btnBG: #eee;
$btnBGhover: #ddd;
$btnTextCol: #a0a0a0;

.buttonWrapper {
	display: flex;
	justify-content: space-between;

	button {
		border: 0;
		font-size: 22px;
		font-weight: 400;
		background-color: $btnBG;
		color: $btnTextCol;
		height: 52px;
		min-width: 52px;
		border-radius: 25px;
		cursor: pointer;
	}
	button:hover {
		background-color: $btnBGhover;
	}
	button[data-action="next"] {
		padding: 0 35px;
		margin-left: auto;
	}
}
