body {
    margin: 0;
    font-family: 'Montserrat';
}


:global {
    .outerWrp {
        max-width: 500px;
        margin: 0 auto;
        //border: 1px solid #ccc;
        //border-radius: 10px;
        //padding: 20px;
        box-sizing: border-box;
        overflow: hidden;
    }
}



