$breakpoints: (
        'xs': ('(min-width: 576px)'),
        'sm': ('(min-width: 768px)'),
        'md': ('(min-width: 992px)'),
        'lg': ('(min-width: 1200px)'),
        'xl': ('(min-width: 1600px)'),
);


@mixin resultBarBg($st1, $st2, $st3, $st4, $st5) {
    background: linear-gradient(
                    90deg,
                    $st1 0,
                    $st1 18%,
                    #fff 0,
                    #fff 20.5%,
                    $st2 0,
                    $st2 38.5%,
                    #fff 0,
                    #fff 41%,
                    $st3 0,
                    $st3 59%,
                    #fff 0,
                    #fff 61.5%,
                    $st4 0,
                    $st4 79.5%,
                    #fff 0,
                    #fff 82%,
                    $st5 0,
                    $st5
    );
}

@mixin container($width) {
    max-width: $width;
    margin: 0 auto;
    width: 100%;
}

@mixin button($width) {
    max-width: $width;
    margin: 0 auto;
    width: 100%;
}

@mixin baseColorBtn() {
    border-radius: 29px;
    border: none;
    background-color: $base-color;
    color: #fff;
    font-weight: 500;
    padding: 18px 35px 19px 30px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 230px;
    text-align: center;

    span {
        padding-left: 15px;
        position: relative;
        top: 2px;

        :global {
            #arrow_thin,#arrow_normal {
                width: 11px;
                height: 15px;
                path {
                    fill: #fff;
                }
            }
        }
    }
}

$baseMargBottom: 30px;

$base-color: #77AFA7;
$second-color: #FFF128;
$white-color: #FFF;


$inputRange-c1: #77AFA7;
$inputRange-c2: #94BD8B;
$inputRange-c3: #BCD063;
$inputRange-c4: #E0DF34;
$inputRange-c5: #F7E91B;

button, a {
    letter-spacing: 0.5px;

    span {
        :global {
            #arrow_thin, #arrow_normal {
                width: 11px;
                height: 16px;
            }
        }
    }


    &:focus {
        outline: none;
        box-shadow: 0 0 2px 1px $base-color;
    }
}


:global {
    .outerWrp {
        //max-width: 500px;
        margin: 0 auto;
        box-sizing: border-box;
        overflow: hidden;
        //min-height: 100vh; // ломает прокрутку в конце
        font-family: 'Montserrat', sans-serif !important;

        //@media (min-width: 992px) {
        //    max-width: 1140px;
        //}

        //@include respond-to('md') {
        //
        //}
    }
}


.startScreen {
    background-color: $base-color !important;
    padding: 35px 20px 0;


    .startScreen__Container {

        min-height: 100%;
        @media (min-width: 992px) {
            padding: 100px 200px;
            @include container(1140px);
        }


        h1 {
            color: $white-color;
            font-size: 18px;
            margin-bottom: $baseMargBottom;
            font-weight: 700;
        }
        h2 {
            color: $second-color;
            font-size: 41px;
            line-height: 44px;
            font-weight: 800;
            margin-bottom: $baseMargBottom;
        }
        p {
            color: $white-color;
            font-size: 15px;
            margin-bottom: $baseMargBottom;
        }
        .startTestBtn {
            border-radius: 29px;
            background-color: $second-color;
            color: #000;
            font-weight: 600;
            padding: 18px 50px 19px 50px;
            display: inline-block;
            font-size: 16px;
            text-transform: uppercase;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
            margin-bottom: 30px;
            span {
                padding-left: 15px;
                position: relative;
                top: 2px;
                :global {
                    #arrow_thin, #arrow_normal {
                        width: 13px;
                        height: 17px;
                    }
                }
            }
        }
    }

}

.namePage {
    background-color: #eeeeee;
    .namePage__Container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 35px;

        @media (min-width: 992px) {
            padding: 100px 200px;
            @include container(1140px);
        }


        h1 {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 25px;
        }

        .namePageInput {
            height: 47px;
            border-radius: 29px;
            border: none;
            width: 100%;
            max-width: 270px;
            margin-bottom: 25px;
            padding: 4px 10px;
            font-size: 20px;
        }

        .namePageBtn {
            @include baseColorBtn();;

            &.namePageBtnAnimated {
                animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            }
        }


    }
}

.guidePage {
    background-color: #eeeeee;
    .guidePage__Container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: 17px;
        line-height: 22px;

        .guidePage__description {

            padding: 40px 20px;

            p {
                text-align: center;
                font-weight: 500;
            }
        }
        .guidePage__manual {
            padding: 30px 20px 0;
            background-color: #fff;
            text-align: center;
            flex-grow: 1;

            p {
                text-align: center;
                font-weight: 700;
            }

            .guidePageBtn {
                @include baseColorBtn();
            }
        }


    }
}

.resultPage {
    padding: 15px 20px;


    h1 {
        text-transform: uppercase;
        color: #474747;
        font-size: 29px;
        line-height: 32px;
        font-weight: 800;
        margin-bottom: 40px;
    }

    .resultList {
        padding: 0;
        li {
            list-style: none;
            padding-bottom: 30px;
        }


        .resultTitle {
            color: #474747;
            font-size: 17px;
            font-weight: 800;
            margin-bottom: 10px;
        }

        .resultBar {
            width: 100%;
            height: 15px;
            &.resultBar--100 {
                @include resultBarBg($inputRange-c1,#eee,#eee,#eee,#eee);
            }
            &.resultBar--200 {
                @include resultBarBg($inputRange-c1, $inputRange-c2,#eee,#eee,#eee);
            }
            &.resultBar--300 {
                @include resultBarBg($inputRange-c1, $inputRange-c2, $inputRange-c3,#eee,#eee);
            }
            &.resultBar--400 {
                @include resultBarBg($inputRange-c1, $inputRange-c2, $inputRange-c3, $inputRange-c4, #eee);
            }
            &.resultBar--500 {
                @include resultBarBg($inputRange-c1, $inputRange-c2, $inputRange-c3, $inputRange-c4, $inputRange-c5);
            }
        }
    }

}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

