@mixin container($width) {
    max-width: $width;
    margin: 0 auto;
    width: 100%;
}

.Slider {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    //height: calc( 100% - 20px);
    //padding-bottom: 20px;
    height: calc(100%);

    .Slider__Container {
        height: 100%;
        @media (min-width: 992px) {
            @include container(1140px);
        }

        &.Slider__Container--IsChosen-true {
            :global {
                .ant-slider-handle {
                    &:after {
                        content: "\2714";
                        font-weight: 400;
                    }
                }

            }
        }
        &.Slider__Container--IsChosen-false {
            :global {
                .ant-slider-handle {
                    &:after {
                        content: "?";
                    }
                }

            }
        }
    }


    .SliderTransition {
        flex-grow: 1;
    }

    .SliderControl {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px 20px 5px;
        .SliderBtn {
            //height: 52px;
            min-width: 52px;
            border-radius: 26px;
            background-color: #EEEEEE;
            border: none;
            color: #A0A0A0;
            font-size: 19px;
            letter-spacing: 0.5px;
            padding: 12px;
            text-transform: uppercase;
            cursor: pointer;

                span {
                    position: relative;
                    :global {
                        #arrow_thin, #arrow_normal {
                            path {
                                fill: #A0A0A0;
                            }
                        }
                    }
                }
            &.SliderBtnPrev {
                span {
                    right: 1px;
                    :global {
                        #arrow_thin, #arrow_normal {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            &.SliderBtnNxt {
                display: block;
                padding: 12px 35px;

                span {
                    padding-left: 15px;
                    top: 1px;
                }
            }


        }
    }

}


/*  -= Default =- */
.move-appear {    transform: translate3D(100%, 0, 0);}
.move-appear-active {    transform: translate3D(0, 0, 0); transition: all 700ms ease-out;}

.move-enter {opacity: 1; background: #ffccc2; transform: translate3D(100%, 0, 0);  position: absolute;}
.move-enter-active {transform: translate3D(0%, 0, 0); opacity: 1; transition: all 700ms ease-out;  position: absolute;}
.move-leave {opacity: 1; }
.move-leave-active {transform: translate3D(-100%, 0, 0); opacity: 1;transition: all 700ms ease-out; }

/*  -= Next =- */
.move-next-appear {    transform: translate3D(100%, 0, 0);}
.move-next-appear-active {    transform: translate3D(0, 0, 0); transition: all 700ms ease-out;}

.move-next-enter {opacity: 1; background: transparent; transform: translate3D(100%, 0, 0);  position: absolute;}
.move-next-enter-active {transform: translate3D(0%, 0, 0); opacity: 1; transition: all 700ms ease-out;  }
.move-next-leave {opacity: 1; }
.move-next-leave-active {transform: translate3D(-100%, 0, 0); opacity: 1;transition: all 700ms ease-out; }