.Slider {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 20px;

    .SliderTransition {
        flex-grow: 1;
    }

    .SliderControl {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
        .SliderBtn {
            height: 52px;
            min-width: 52px;
            border-radius: 26px;
            background-color: #EEEEEE;
            border: none;
            color: #A0A0A0;
            font-size: 19px;
            letter-spacing: 0.52px;

            cursor: pointer;


            &.SliderBtnNxt {
                display: block;
                padding: 0 20px;
            }
        }
    }

}


/*  -= Default =- */
.move-appear {    transform: translate3D(100%, 0, 0);}
.move-appear-active {    transform: translate3D(0, 0, 0); transition: all 700ms ease-out;}

.move-enter {opacity: 1; background: #ffccc2; transform: translate3D(100%, 0, 0);  position: absolute;}
.move-enter-active {transform: translate3D(0%, 0, 0); opacity: 1; transition: all 700ms ease-out;  position: absolute;}
.move-leave {opacity: 1; }
.move-leave-active {transform: translate3D(-100%, 0, 0); opacity: 1;transition: all 700ms ease-out; }

/*  -= Next =- */
.move-next-appear {    transform: translate3D(100%, 0, 0);}
.move-next-appear-active {    transform: translate3D(0, 0, 0); transition: all 700ms ease-out;}

.move-next-enter {opacity: 1; background: transparent; transform: translate3D(100%, 0, 0);  position: absolute;}
.move-next-enter-active {transform: translate3D(0%, 0, 0); opacity: 1; transition: all 700ms ease-out;  }
.move-next-leave {opacity: 1; }
.move-next-leave-active {transform: translate3D(-100%, 0, 0); opacity: 1;transition: all 700ms ease-out; }